*{
  margin: 0;
}
/*header */
.header{
    width:100%;
    height:70px;
    background-color:#CECECE;
    margin: 0;
    padding:0px 0px 0px 0px;
    box-shadow:5px 5px 20px rgba(0,0,0,0.2);
    position:fixed;
    z-index: 3;
}
.header ul a:hover {
    background-color: darkgray;
}

.header ul {
    margin:0;
    padding:0;
    list-style:none;
    overflow: hidden;

}

.header ul li a {
    display:block;
    padding:10px;
    text-decoration: none;
    color:black;
}

.header .menu{
  clear:both;
  max-height:0;
  transition:max-height .2s ease-out;
}

.header .menu-icon{
  padding:28px 20px;
  position:relative;
  float: right;
  cursor: pointer;
}

.header .menu-icon .nav-icon{
  background:black;
  display:block;
  height:2px;
  width:18px;
  position: relative;
  transition:background .2s ease-out;
}

.header .menu-icon .nav-icon:before{
  background:black;
  content:"";
  display:block;
  height:100%;
  width:100%;
  postion:absolute;
  transition:all .2s ease-out;
  transform: translateY(5px);
  transform-origin: center;
}

.header .menu-icon .nav-icon:after{
  background:black;
  content:"";
  display:block;
  height:100%;
  width:100%;
  postion:absolute;
  transition:all .2s ease-out;
  transform: translateY(-7px);
  transform-origin: 5px;
}

.header .menu-btn{
  display:none;
}

.header .menu-btn:checked ~ .menu{
  max-height:240px;
  position: relative;
  background-color: #CECECE;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon{
  background: transparent;
  box-shadow: none;

}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before{
  background-color: black;
  transform: rotatez(45deg);
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after{
  background-color: black;
  transform: rotatez(-45deg);
}
@media (min-width:48em) {

  .header li{
    float: left;
  }

  .header li a{
    padding:20px 30px;
  }
  .header .menu{
    clear:none;
    max-height: none;
  }
  .header .menu-icon{
    display:none;
  }

}
/*Home*/
#Home{
  margin:0;
  width: 100%;
  position:relative;
  background-image: url(home_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;

}
#Home .container{
  margin: 0
  place-items:center;

}
#Home .container h1{
  margin: 0;
  padding-top: 20%;
  font-style: normal;
  font-weight: bolder;
  font-size: 40px;
  font: georgia ;
  color: grey;
}

#Home .container p{
  margin:0;
  padding-top: 5%;
  font-style: normal;
  font-weight: bolder;
  font-size: 30px;
  font: georgia ;
  color: grey;
}

/*about*/
#About{
  position: relative;
  display: grid;
  height: 100vh;
  padding-top: 10px;
  background-color: #CECECE;
  box-shadow:5px 5px 20px rgba(0,0,0,0.4);
  /*background-image: url(Aboutbg.jpg);*/
}
.Skills p{
  color:#5657E6;
  font-size:16px;
}

.row1{
  position:relative;
  padding-left: 35%;

}
#circleImage{
    position: relative;
    width:300px;
    height:300px;
    border-radius:50%;
    background-image:url(me.jpg);
}
/*Education*/
#Education{
  position: relative;
  display: grid;
  height: 100vh;
  padding-top: 10px;
  background-color:#B7B7BC;
}
#Education h1{
  font-style: arial ;
  color: white;
  padding-left: 10px;
}
#Education .higherInst{
  font-style: arial ;
  color: white;
  padding-left: 10px;
}

#Education .highSchool{
  font-style: arial ;
  color: white;
  padding-left: 10px;
}
#Education .highSchool ul{
  list-style: none;
}

/*Skills*/
.Skills{
  position: relative;
  display: grid;
  height: 100vh;
  padding-top: 10px;
  place-items: center;
  background: #6665ee;
  box-shadow:5px 5px 20px rgba(0,0,0,0.4);
}

.skill-bars{
  padding: 25px 30px;
  width: 600px;
  background: #fff;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
  border-radius: 10px;
}
.skill-bars .bar{
  margin: 20px 0;
}
.skill-bars .bar:first-child{
  margin-top: 0px;
}
.skill-bars .bar .info{
  margin-bottom: 5px;
}
.skill-bars .bar .info span{
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100%{
    opacity: 1;
  }
}
.skill-bars .bar .progress-line{
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
              0 1px rgba(255,255,255,0.8);
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.bar .progress-line span{
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: #63BDB7;
  box-shadow: 10px 10px 25px rgba(0,0,0,0.2);
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
.bar .progress-line.html span{
  width: 90%;
}
.bar .progress-line.css span{
  width: 75%;
}
.bar .progress-line.javaScript span{
  width: 65%;
}
.bar .progress-line.cPlusPlus span{
  width: 90%;
}
.bar .progress-line.python span{
  width: 70%;
}
.bar .progress-line.cSharp span{
  width: 95%;
}
.progress-line span::before{
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after{
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100%{
    opacity: 1;
  }
}
.progress-line.html span::after{
  content: "90%";
}
.progress-line.css span::after{
  content: "65%";
}
.progress-line.javaScript span::after{
  content: "60%";
}
.progress-line.cPlusPlus span::after{
  content: "90%";
}
.progress-line.python span::after{
  content: "70%";
}
.progress-line.cSharp span::after{
  content: "95%";
}

@media (max-width:48em) {
  .skill-bars{
    width: 370px;
  }
}


/*Contacts*/

#Contacts{
  margin: 0;
  width:100vw;
  display: block;
  overflow:hidden;
  padding: 70px 0;
  box-sizing: border-box;
  background-color: black;
}
#Contacts .cellandemail{
  text-align: center;
}
#Contacts .cellandemail p{
  font: arial;
  font-size:15px;
  color: white;
}
#Contacts .buttons{
  margin:0;
  padding-top: 15px;
  color: white;
  height: 50px;
  text-align: center;
}
#Contacts .buttons a{
  padding-right: 50px;
  text-decoration: none;
}
#Contacts .buttons a .btnGithub{
  width: 20px;
  height: 20px;
  background-image: url(github.jpg);
  background-size: cover;

}
#Contacts .buttons a .btnFb{
  width: 20px;
  height: 20px;
  background-image: url(facebook.png);
  background-size: cover;

}
#Contacts .buttons a .btnLinkedin{
  width: 20px;
  height: 20px;
  background-image: url(linkedin.png);
  background-size: cover;
}
#Contacts .designer{
  margin:0;
  height: 10wh;
  padding-top: 30px;
  color: white;
  height: 50px;
  text-align: center;
  font-size: 12px;

}
